<h1>Listing celebrations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Email address</th>
    <th>Message</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @celebrations.each do |celebration| %>
  <tr>
    <td><%= celebration.name %></td>
    <td><%= celebration.email_address %></td>
    <td><%= celebration.message %></td>
    <td><%= link_to 'Show', celebration %></td>
    <td><%= link_to 'Edit', edit_celebration_path(celebration) %></td>
    <td><%= link_to 'Destroy', celebration, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Celebration', new_celebration_path %>
